
<button (click)="Refresh()">Refresh</button>

<p></p>

<div>
{{ this.selectedTrack.artist }} - {{ this.selectedTrack.title }} ({{ this.selectedTrack.album }})
</div>
<div>
    <div class="row">
      <div class="col-sm-2">
        <input  id="inpR1" class="form-control" type="number" name="txtRating" [(ngModel)]="selectedTrack.rating" min="0" max="100" step="20"/>
      </div>
      <div class="col-sm-6">
        <select class="form-control" [(ngModel)]="selectedTrack.genre" id="inpR2">
          <option></option>
          <option>Acid</option>
          <option>Acid Jazz</option>
          <option>Afrekening</option>
          <option>Alternative</option>
          <option>Ambient</option>
          <option>Belgisch</option>
          <option>Body Music</option>
          <option>Bossa Nova</option>
          <option>Dance</option>
          <option>Div</option>
          <option>Dream Pop</option>
          <option>Electronic</option>
          <option>Flipper</option>
          <option>France</option>
          <option>Funk</option>
          <option>Guitar</option>
          <option>Hip-Hop</option>
          <option>House</option>
          <option>Indie</option>
          <option>Indie Pop</option>
          <option>Indietronica</option>
          <option>Jazz</option>
          <option>Latin</option>
          <option>Lounge</option>
          <option>Madchester</option>
          <option>Maxx</option>			<!-- ? -->
          <option>Minimal</option>
          <option>New Beat</option>
          <option>New Wave</option>
          <option>Noise</option>
          <option>Post-Rock</option>
          <option>Regae</option>
          <option>Shoegaze</option>
          <option>Tango</option>
          <option>Trip-Hop</option>
          <option>Twee</option>
          <option>World</option>			<!-- ? -->
        </select>
      </div>
      <div class="col-sm-2">
        <input class="form-control" id="inpR3" type="number" name="txtJaar" [(ngModel)]="selectedTrack.jaar"   min="0"   max="2999" step="1"/>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-success btn-sm"  (click)="RateSelectedTrack()">Save</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
      <div class="btn-group" role="group" aria-label="Basic example">
      <button (click)="selectedTrack.rating=20" type="button" class="btn btn-link" style="padding-left: 1px; padding-right: 0px; text-decoration: none">&#9733;</button>
      <button (click)="selectedTrack.rating=40" type="button" class="btn btn-link" style="padding-left: 1px; padding-right: 0px; text-decoration: none">&#9733;</button>
      <button (click)="selectedTrack.rating=60" type="button" class="btn btn-link" style="padding-left: 1px; padding-right: 0px; text-decoration: none">&#9733;</button>
      <button (click)="selectedTrack.rating=80" type="button" class="btn btn-link" style="padding-left: 1px; padding-right: 0px; text-decoration: none">&#9733;</button>
      <button (click)="selectedTrack.rating=100" type="button" class="btn btn-link" style="padding-left: 1px; padding-right: 0px; text-decoration: none">&#9733;</button>
      </div>
      </div>
      <div class="col-sm-6">
      <table>
      <tr>
        <td align="center">
        <button type="button" class="btn btn-info btn-sm" style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;" (click)='selectedTrack.genre="Electronic"'>Electronic</button>
          <button type="button" class="btn btn-info btn-sm" style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;" (click)='selectedTrack.genre="Indietronica"'>Indietronica</button>
          <button type="button" class="btn btn-info btn-sm" style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;" (click)='selectedTrack.genre="Lounge"'>Lounge</button>
          <button type="button" class="btn btn-info btn-sm" style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;" (click)='selectedTrack.genre="Trip-Hop"'>Trip-Hop</button>
          <button type="button" class="btn btn-warning btn-sm" style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;" (click)='selectedTrack.genre="Custom"'>Custom</button>
        </td>
      </tr>
      <tr>
        <td align="center">
        <button type="button" class="btn btn-info btn-sm" style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;" (click)='selectedTrack.genre="Indie"'>Indie</button>
        <button type="button" class="btn btn-info btn-sm" style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;" (click)='selectedTrack.genre="Indie Pop"'>Indie Pop</button>
        <button type="button" class="btn btn-info btn-sm" style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;" (click)='selectedTrack.genre="Dream Pop"'>Dream Pop</button>
        <button type="button" class="btn btn-info btn-sm" style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;" (click)='selectedTrack.genre="Alternative"'>Alternative</button>
        <button type="button" class="btn btn-info btn-sm" style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;" (click)='selectedTrack.genre="Belgisch"'>Belgisch</button>
      </tr>
    </table>

      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
</div>
<p></p>
<table>
  <tr><td>artist:</td><td>{{ this.selectedTrack.artist }}</td></tr> 
  <tr><td>title: </td><td>{{ this.selectedTrack.title }}</td></tr>
  <tr><td>album: </td><td>{{ this.selectedTrack.album }}</td></tr>
  <tr><td>rating: </td><td>{{ this.selectedTrack.rating }}</td></tr>
  <tr><td>genre: </td><td>{{ this.selectedTrack.genre }}</td></tr>
  <tr><td>jaar: </td><td>{{ this.selectedTrack.jaar }}</td></tr>
  <tr><td>source: </td><td>{{ this.selectedTrack.source }}</td></tr>
  <tr><td>created: </td><td>{{ this.selectedTrack.created }}</td></tr>
  <tr><td>updated: </td><td>{{ this.selectedTrack.updated }}</td></tr>
</table>

<h2>Tracks</h2>

<div *ngFor="let objtrack of lastfmresponse.recenttracks.track">
{{ objtrack.artist["#text"] }} - {{ objtrack.name }} ({{ objtrack.album["#text"]}})
</div>
