
<!--
<div class="container">
  <div class="row">
    <div [attr.class]="colWidthFirst" style="background-color: red">
      11111
    </div>
    <div [attr.class]="colWidthSecond" style="background-color: blue">
      2222
    </div>
  </div>
</div>
-->

<!-- vanaf hier is het echt!! -->
<table class="table table-bordered table-sm">
<thead>
<th>
{{ myTrack.artist }} - {{ myTrack.title }} ({{ myTrack.album }})
</th>
</thead>
<tbody>
  <tr *ngIf="OnSmallScreen">
    <td>
    <div class="btn-group" role="group" aria-label="Basic example" >
    <button
      (click)="myTrack.rating = 20;RateSelectedTrack()"
      type="button"
      class="btn btn-link"
      style="padding-left: 1px; padding-right: 0px; text-decoration: none"
    >
    <span class="display-1">&#9733;</span>
    </button>
    <button
      (click)="myTrack.rating = 40;RateSelectedTrack()"
      type="button"
      class="btn btn-link"
      style="padding-left: 1px; padding-right: 0px; text-decoration: none"
    >
    <span class="display-1">&#9733;</span>
    </button>
    <button
      (click)="myTrack.rating = 60;RateSelectedTrack()"
      type="button"
      class="btn btn-link"
      style="padding-left: 1px; padding-right: 0px; text-decoration: none"
    >
    <span class="display-1">&#9733;</span>
    </button>
    <button
      (click)="myTrack.rating = 80;RateSelectedTrack()"
      type="button"
      class="btn btn-link"
      style="padding-left: 1px; padding-right: 0px; text-decoration: none"
    >
    <span class="display-1">&#9733;</span>
    </button>
    <button
      (click)="myTrack.rating = 100;RateSelectedTrack()"
      type="button"
      class="btn btn-link"
      style="padding-left: 1px; padding-right: 0px; text-decoration: none"
    >
    <span class="display-1">&#9733;</span>
    </button>
  </div>
  </td>
  </tr>
</tbody>
</table>

<!-- vanaf hier is het echt!! -->
<div class="row">
  <div class="col-sm-2">
    <div class="row">
      <div [attr.class]="colWidthFirst">
        <input
          id="inpR1"
          class="form-control"
          type="number"
          name="txtRating"
          [(ngModel)]="myTrack.rating"
          min="0"
          max="100"
          step="20"
        />
      </div>
      <div [attr.class]="colWidthSecond">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
            (click)="myTrack.rating = 20"
            type="button"
            class="btn btn-link"
            style="padding-left: 1px; padding-right: 0px; text-decoration: none"
          >
            &#9733;
          </button>
          <button
            (click)="myTrack.rating = 40"
            type="button"
            class="btn btn-link"
            style="padding-left: 1px; padding-right: 0px; text-decoration: none"
          >
            &#9733;
          </button>
          <button
            (click)="myTrack.rating = 60"
            type="button"
            class="btn btn-link"
            style="padding-left: 1px; padding-right: 0px; text-decoration: none"
          >
            &#9733;
          </button>
          <button
            (click)="myTrack.rating = 80"
            type="button"
            class="btn btn-link"
            style="padding-left: 1px; padding-right: 0px; text-decoration: none"
          >
            &#9733;
          </button>
          <button
            (click)="myTrack.rating = 100"
            type="button"
            class="btn btn-link"
            style="padding-left: 1px; padding-right: 0px; text-decoration: none"
          >
            &#9733;
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div [attr.class]="colWidthFirst">
        <select class="form-control" [(ngModel)]="myTrack.genre" id="inpR2">
          <option></option>
          <option>Acid</option>
          <option>Acid Jazz</option>
          <option>Afrekening</option>
          <option>Alternative</option>
          <option>Ambient</option>
          <option>Belgisch</option>
          <option>Body Music</option>
          <option>Bossa Nova</option>
          <option>Dance</option>
          <option>Div</option>
          <option>Dream Pop</option>
          <option>Electronic</option>
          <option>Flipper</option>
          <option>France</option>
          <option>Funk</option>
          <option>Guitar</option>
          <option>Hip-Hop</option>
          <option>House</option>
          <option>Indie</option>
          <option>Indie Pop</option>
          <option>Indietronica</option>
          <option>Jazz</option>
          <option>Latin</option>
          <option>Lounge</option>
          <option>Madchester</option>
          <option>Maxx</option>
          <!-- ? -->
          <option>Minimal</option>
          <option>New Beat</option>
          <option>New Wave</option>
          <option>Noise</option>
          <option>Post-Rock</option>
          <option>Regae</option>
          <option>Shoegaze</option>
          <option>Tango</option>
          <option>Trip-Hop</option>
          <option>Twee</option>
          <option>World</option>
          <!-- ? -->
        </select>
      </div>
      <div [attr.class]="colWidthSecond">
        <!-- Genre buttons-->
        <table>
          <tr>
            <td align="center">
              <button
                type="button"
                class="btn btn-info btn-sm"
                style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
                (click)="myTrack.genre = 'Electronic'"
              >
                Electronic
              </button>
              <button
                type="button"
                class="btn btn-info btn-sm"
                style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
                (click)="myTrack.genre = 'Indietronica'"
              >
                Indietronica
              </button>
              <button
                type="button"
                class="btn btn-info btn-sm"
                style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
                (click)="myTrack.genre = 'Lounge'"
              >
                Lounge
              </button>
              <button
                type="button"
                class="btn btn-info btn-sm"
                style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
                (click)="myTrack.genre = 'Trip-Hop'"
              >
                Trip-Hop
              </button>
              <button
                type="button"
                class="btn btn-warning btn-sm"
                style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
                (click)="myTrack.genre = RatingRecentGenre"
              >
                {{ RatingRecentGenre }}
              </button>
            </td>
          </tr>
          <tr>
            <td align="center">
              <button
                type="button"
                class="btn btn-info btn-sm"
                style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
                (click)="myTrack.genre = 'Indie'"
              >
                Indie
              </button>
              <button
                type="button"
                class="btn btn-info btn-sm"
                style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
                (click)="myTrack.genre = 'Indie Pop'"
              >
                Indie Pop
              </button>
              <button
                type="button"
                class="btn btn-info btn-sm"
                style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
                (click)="myTrack.genre = 'Dream Pop'"
              >
                Dream Pop
              </button>
              <button
                type="button"
                class="btn btn-info btn-sm"
                style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
                (click)="myTrack.genre = 'Alternative'"
              >
                Alternative
              </button>
              <button
                type="button"
                class="btn btn-info btn-sm"
                style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
                (click)="myTrack.genre = 'Div'"
              >
                Div
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="row">
      <div [attr.class]="colWidthFirst">
        <input
          class="form-control"
          id="inpR3"
          type="number"
          name="txtJaar"
          [(ngModel)]="myTrack.jaar"
          min="0"
          max="2999"
          step="1"
        />
      </div>
      <div [attr.class]="colWidthSecond">
        <table>
        <tr>
          <td align="center">
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
              (click)="myTrack.jaar = GetCurrentYear(0)"
            >
              {{ GetCurrentYear(0) }}
            </button>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
              (click)="myTrack.jaar = RatingRecentJaar"
            >
              {{ RatingRecentJaar }}
            </button>
          </td>
        </tr>
        <tr>
          <td align="center">
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
              (click)="myTrack.jaar = GetCurrentYear(-1)"
            >
              {{ GetCurrentYear(-1) }}
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
              (click)="myTrack.jaar = GetCurrentYear(-2)"
            >
              {{ GetCurrentYear(-2) }}
            </button>
          </td>
        </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="row">
      <div [attr.class]="colWidthFirst">
        <button type="button" class="btn btn-success btn-sm" (click)="RateSelectedTrack()">
          Save
        </button>
      </div>
      <div [attr.class]="colWidthSecond">
        <table>
        <tr>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
              (click)="myTrack.jaar = LastFMTrackYearReleased"
            >
              {{ LastFMTrackYearReleased }}
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
              (click)="myTrack.jaar = iTunesTrackYearReleased"
            >
              {{ iTunesTrackYearReleased }}
            </button>
          </td>
        </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- zo was het 
<div class="row">
<div class="col-sm-2">
  <input
    id="inpR1"
    class="form-control"
    type="number"
    name="txtRating"
    [(ngModel)]="myTrack.rating"
    min="0"
    max="100"
    step="20"
  />
</div>
<div class="col-sm-6">
  <select class="form-control" [(ngModel)]="myTrack.genre" id="inpR2">
    <option></option>
    <option>Acid</option>
    <option>Acid Jazz</option>
    <option>Afrekening</option>
    <option>Alternative</option>
    <option>Ambient</option>
    <option>Belgisch</option>
    <option>Body Music</option>
    <option>Bossa Nova</option>
    <option>Dance</option>
    <option>Div</option>
    <option>Dream Pop</option>
    <option>Electronic</option>
    <option>Flipper</option>
    <option>France</option>
    <option>Funk</option>
    <option>Guitar</option>
    <option>Hip-Hop</option>
    <option>House</option>
    <option>Indie</option>
    <option>Indie Pop</option>
    <option>Indietronica</option>
    <option>Jazz</option>
    <option>Latin</option>
    <option>Lounge</option>
    <option>Madchester</option>
    <option>Maxx</option>
    <option>Minimal</option>
    <option>New Beat</option>
    <option>New Wave</option>
    <option>Noise</option>
    <option>Post-Rock</option>
    <option>Regae</option>
    <option>Shoegaze</option>
    <option>Tango</option>
    <option>Trip-Hop</option>
    <option>Twee</option>
    <option>World</option>
  </select>
</div>
<div class="col-sm-2">
  <input
    class="form-control"
    id="inpR3"
    type="number"
    name="txtJaar"
    [(ngModel)]="myTrack.jaar"
    min="0"
    max="2999"
    step="1"
  />
</div>
<div class="col-sm-2">
  <button
    type="button"
    class="btn btn-success btn-sm"
    (click)="RateSelectedTrack()"
  >
    Save
  </button>
</div>
</div>

<div class="row">
<div class="col-sm-2">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button
      (click)="myTrack.rating = 20"
      type="button"
      class="btn btn-link"
      style="padding-left: 1px; padding-right: 0px; text-decoration: none"
    >
      &#9733;
    </button>
    <button
      (click)="myTrack.rating = 40"
      type="button"
      class="btn btn-link"
      style="padding-left: 1px; padding-right: 0px; text-decoration: none"
    >
      &#9733;
    </button>
    <button
      (click)="myTrack.rating = 60"
      type="button"
      class="btn btn-link"
      style="padding-left: 1px; padding-right: 0px; text-decoration: none"
    >
      &#9733;
    </button>
    <button
      (click)="myTrack.rating = 80"
      type="button"
      class="btn btn-link"
      style="padding-left: 1px; padding-right: 0px; text-decoration: none"
    >
      &#9733;
    </button>
    <button
      (click)="myTrack.rating = 100"
      type="button"
      class="btn btn-link"
      style="padding-left: 1px; padding-right: 0px; text-decoration: none"
    >
      &#9733;
    </button>
  </div>
</div>
<div class="col-sm-6">
  <table>
    <tr>
      <td align="center">
        <button
          type="button"
          class="btn btn-info btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.genre = 'Electronic'"
        >
          Electronic
        </button>
        <button
          type="button"
          class="btn btn-info btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.genre = 'Indietronica'"
        >
          Indietronica
        </button>
        <button
          type="button"
          class="btn btn-info btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.genre = 'Lounge'"
        >
          Lounge
        </button>
        <button
          type="button"
          class="btn btn-info btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.genre = 'Trip-Hop'"
        >
          Trip-Hop
        </button>
        <button
          type="button"
          class="btn btn-warning btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.genre = RatingRecentGenre"
        >
          {{ RatingRecentGenre }}
        </button>
      </td>
    </tr>
    <tr>
      <td align="center">
        <button
          type="button"
          class="btn btn-info btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.genre = 'Indie'"
        >
          Indie
        </button>
        <button
          type="button"
          class="btn btn-info btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.genre = 'Indie Pop'"
        >
          Indie Pop
        </button>
        <button
          type="button"
          class="btn btn-info btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.genre = 'Dream Pop'"
        >
          Dream Pop
        </button>
        <button
          type="button"
          class="btn btn-info btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.genre = 'Alternative'"
        >
          Alternative
        </button>
        <button
          type="button"
          class="btn btn-info btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.genre = 'Div'"
        >
          Div
        </button>
      </td>
    </tr>
  </table>
</div>
<div class="col-sm-2">
  <table>
    <tr>
      <td align="center">
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.jaar = GetCurrentYear(0)"
        >
          {{ GetCurrentYear(0) }}
        </button>
        <button
          type="button"
          class="btn btn-warning btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.jaar = RatingRecentJaar"
        >
          {{ RatingRecentJaar }}
        </button>
      </td>
    </tr>
    <tr>
      <td align="center">
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.jaar = GetCurrentYear(-1)"
        >
          {{ GetCurrentYear(-1) }}
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.jaar = GetCurrentYear(-2)"
        >
          {{ GetCurrentYear(-2) }}
        </button>
      </td>
    </tr>
  </table>
</div>
<div class="col-sm-2">
  <table>
    <tr>
      <td>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.jaar = LastFMTrackYearReleased"
        >
          {{ LastFMTrackYearReleased }}
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          style="padding: 0px 2px; margin: 0px 1px; font-size: .80rem;"
          (click)="myTrack.jaar = iTunesTrackYearReleased"
        >
          {{ iTunesTrackYearReleased }}
        </button>
      </td>
    </tr>
  </table>
</div>
</div>
-->